@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

:root {
  --commonGray: #3e4044;
  --textGray: #3d3f43;
}

body {
  background: linear-gradient(to right, #eaebef 30%, #d2e5f3  70%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--commonGray);
}

@media (max-width: 1000px) {
  body {
    background: linear-gradient(360deg, #eaebef 30%, #d2e5f3  70%);
  }
}