@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

:root {
  --commonGrey: #3e4044;
}

body {
  background: linear-gradient(to right, #eaebef 50%, #d2e5f3  50%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #3e4044;
}

@media (max-width: 760px) {
  body {
    background: rgb(227, 227, 227) 
  }
}