@import url('/src/App/App.css');

.header {
    min-width: 390px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    border-bottom: 1px solid hsl(195.83deg 40.86% 76.75%);
}

.navbar__ul {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    font-weight: 600;
    letter-spacing: .5px;
}

.header__group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__logo {
    background-image: url("/src/assets/logo.png");
    width: 64px;
    height: 64px;
}

.burger__menu {
    display: none !important;
}

.header__search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__account {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 5px;
}

.header__cart {
    display: flex;
    align-items: center;
    margin-left:20px;
    margin-right: 10px;
    gap: 15px;
}

@media screen and (max-width: 790px) {
    .header__logo {
        display: none;
    }
}

@media screen and (max-width: 789px) {
    .burger__menu {
        display: flex !important;
        cursor: pointer;
    }

    .header__nav {
        display: flex;
        background: linear-gradient(180deg,rgba(229,231,235,1) 0%, rgb(147, 189, 245) 100%);
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        height: calc(100vh - 78px);
        position: absolute;
        left: 0;
        top: -5000px;
        opacity: 0;
        transition: all 2s ease;
        z-index: 20;
    }
    
    .navbar__ul {
        flex-direction: column;
        gap: 50px;
    }

    .header__nav.isActive {
        top: 9%;
        opacity: 1;
        height: calc(100vh - 78px);
    }
}



/* .navbar-link {
    text-decoration: none;
    font-weight: 500;
    color: var(--commonGray);
    border-bottom: 1px solid transparent;
    transition: all 1s;
    padding-bottom: 5px;
}

.account-link {
    text-decoration: none;
    font-weight: 500;
    color: var(--commonGray);
}

.navbar-link:hover {
    border-bottom: 1px solid black;
}


@media (max-width:1060px) {
    .navbar__logo {
        display: none;
    }
    .navbar-link {
        display: none
    }
}

@media (min-width: 1060px) {
    .burger__menu{
        display: none !important;
    }
} */

